[Desktop Entry]
Name=Teams Lite for Linux
Comment=Teams Lite for Linux — unofficial Microsoft Teams client
Exec=tfl %U
Icon=tfl
Type=Application
Categories=Network;InstantMessaging;Chat;
Keywords=teams;microsoft;chat;meeting;
StartupWMClass=tfl
MimeType=x-scheme-handler/msteams;
